<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'general' %>"><a href="/general">General</a></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'icons' %>">  <a href="/icons">Icons</a></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'buttons' %>"><a href="/buttons">Colors &amp; Buttons</a></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'grid' %>">	 <a href="/grid">Grid</a></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'tables' %>"> <a href="/tables">Tables</a></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'forms' %>">	 <a href="/forms">Forms</a></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'other' %>">	 <a href="/other">Other</a></li>