<div class="page-header">
	<header>
		<h1><%= @title %></h1>
	</header>

	<%= render "navigation/ui_elements_breadcrumbs" %>

</div>

<% @colors = [
	{"color"=>"default","class"=>"default",	"icon"=>"cog"},
	{"color"=>"blue", 	"class"=>"info", 		"icon"=>"info-circle"},
	{"color"=>"green", 	"class"=>"success", "icon"=>"check"},
	{"color"=>"orange", "class"=>"warning", "icon"=>"exclamation-triangle"},
	{"color"=>"red", 		"class"=>"danger", 	"icon"=>"trash-o"},
	{"color"=>"link", 	"class"=>"link", 		"icon"=>"plane"},
] %>

<% @otherColors = [
	{"color"=>"yellow", "class"=>""},
	{"color"=>"pink", 	"class"=>""},
	{"color"=>"purple", "class"=>""}
] %>

<div class="row">
	<% @colors.each do |c| %>
	<h4><%= c['color'] %> <small>.<% if c['class'] == "success" %>primary .success<% else %><%= c['class'] %><% end %></small></h4>
	<div class="row-fluid">
		<div class="col-sm-4">
			<% if c['color'] == "default" %>
			<div class="color-test gray"></div>
			<div class="color-test grayLight "></div>
			<div class="color-test grayLighter"></div>
			<div class="color-test white"></div>
			<% elsif c['color'] == "link" %>
			<div class="color-test black"></div>
			<div class="color-test grayDarker "></div>
			<div class="color-test grayDark"></div>
			<% else %>
			<div class="color-test <%= c['color'] %> darker"></div>
			<div class="color-test <%= c['color'] %>"></div>
			<div class="color-test <%= c['color'] %> lighter"></div>
			<div class="color-test <%= c['color'] %> opaque"></div>
			<% end %>
		</div>
		<div class="col-sm-8">
			<button class="btn btn-<%= c['class'] %> " type="button"><%= fa_icon c['icon'] %>&ensp; .btn</button>
			<button class="btn btn-lg btn-<%= c['class'] %> " type="button"><%= fa_icon c['icon'] %>&ensp; .btn-lg</button>
			<button class="btn btn-sm btn-<%= c['class'] %> " type="button">.btn-sm</button>
			<button class="btn btn-xs btn-<%= c['class'] %> " type="button">.btn-xs</button>
			<button class="btn btn-<%= c['class'] %> disabled " type="button">.disabled</button>
			<span class="label label-<%= c['class'] %>">.label</span>
		</div>
	</div>
	<% end %>
	
	<div class="row">
		<% @otherColors.each do |c| %>

		<div class="col-sm-4">
			<h4><%= c['color'] %></h4>
			<div class="color-test <%= c['color'] %> darker"></div>
			<div class="color-test <%= c['color'] %>"></div>
			<div class="color-test <%= c['color'] %> lighter"></div>
			<div class="color-test <%= c['color'] %> opaque"></div>
		</div>

		<% end %>
	</div>
</div>

<hr>
<div class="row-fluid">
	<h2>Other Button Types</h2>
	
	<h5>.btn (all types look the same)</h5>
	<a class="btn btn-default" href="#">Link</a> <button class="btn btn-default" type="submit">Button</button> <input class="btn btn-default" type="button" value="Input"> <input class="btn btn-default" type="submit" value="Submit">
	
	<h5>.btn-group</h5>
	<div class="btn-group">
	  <button class="btn btn-default">1</button>
	  <button class="btn btn-default">2</button>
	  <button class="btn btn-default">3</button>
	  <button class="btn btn-default">4</button>
	</div>

	<h5>.btn-group > .dropdown-toggle</h5>
	<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Button dropdowns <span class="caret"></span></button>
   	<ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li><a href="#">Separated link</a></li>
     </ul>
 	</div>

	<h5>.btn-group > .btn + .dropdown-toggle</h5>
	<div class="btn-group">
    	<button class="btn btn-default">Split button dropdowns</button>
     	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
     	<ul class="dropdown-menu">
         <li><a href="#">Action</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li class="divider"></li>
         <li><a href="#">Separated link</a></li>
       </ul>
   </div>

	<h5>.btn-group.dropup > .btn + .dropdown-toggle</h5>
	<div class="btn-group dropup">
     <button class="btn btn-default">Dropup</button>
     <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li><a href="#">Separated link</a></li>
     </ul>
   </div>

	<h5>ul.pagination > li > a</h5>
  <ul class="pagination">
    <li class="disabled"><a href="#">«</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">»</a></li>
	</ul>
</div>