<div class="page-header">
	<header>
		<h1><%= @title %></h1>
	</header>

	<%= render "navigation/ui_elements_breadcrumbs" %>

</div>

<% @colors = [
	{"color"=>"default","class"=>"", 				"icon"=>"cog"},
	{"color"=>"blue", 	"class"=>"info", 		"icon"=>"info-sign"},
	{"color"=>"green", 	"class"=>"success", "icon"=>"ok"},
	{"color"=>"orange", "class"=>"warning", "icon"=>"warning-sign"},
	{"color"=>"red", 		"class"=>"danger", 	"icon"=>"trash"},
	{"color"=>"dark", 	"class"=>"inverse", "icon"=>"plane"},
] %>

<% @otherColors = [
	{"color"=>"yellow", "class"=>""},
	{"color"=>"pink", 	"class"=>""},
	{"color"=>"purple", "class"=>""}
] %>

<div class="row-fluid">
	<% @colors.each do |c| %>
	<h4><%= c['color'] %> <small>.<% if c['class'] == "success" %>primary .success<% else %><%= c['class'] %><% end %></small></h4>
	<div class="row-fluid">
		<div class="span4">
			<% if c['color'] == "default" %>
			<div class="color-test gray"></div>
			<div class="color-test grayLight "></div>
			<div class="color-test grayLighter"></div>
			<div class="color-test white"></div>
			<% elsif c['color'] == "dark" %>
			<div class="color-test black"></div>
			<div class="color-test grayDarker "></div>
			<div class="color-test grayDark"></div>
			<% else %>
			<div class="color-test <%= c['color'] %> darker"></div>
			<div class="color-test <%= c['color'] %>"></div>
			<div class="color-test <%= c['color'] %> lighter"></div>
			<div class="color-test <%= c['color'] %> opaque"></div>
			<% end %>
		</div>
		<div class="span8">
			<button class="btn btn-<%= c['class'] %> " type="button">.btn</button>
			<button class="btn btn-large btn-<%= c['class'] %> " type="button"><i class="icon-<%= c['icon'] %>"></i>&ensp; .btn-large</button>
			<button class="btn btn-small btn-<%= c['class'] %> " type="button">.btn-small</button>
			<button class="btn btn-mini btn-<%= c['class'] %> " type="button">.btn-mini</button>
			<button class="btn btn-<%= c['class'] %> disabled " type="button">.disabled</button>
			<span class="label label-<%= c['class'] %>">.label</span>
			<span class="badge badge-<%= c['class'] %>">.badge</span>
		</div>
	</div>
	<% end %>
	
	<div class="row-fluid">
		<% @otherColors.each do |c| %>

		<div class="span4">
			<h4><%= c['color'] %></h4>
			<div class="color-test <%= c['color'] %> darker"></div>
			<div class="color-test <%= c['color'] %>"></div>
			<div class="color-test <%= c['color'] %> lighter"></div>
			<div class="color-test <%= c['color'] %> opaque"></div>
		</div>

		<% end %>
	</div>
</div>

<hr>
<div class="row-fluid">
	<h2>Other Button Types</h2>
	
	<h5>.btn (all types look the same)</h5>
	<a class="btn" href="#">Link</a><button class="btn" type="submit">Button</button><input class="btn" type="button" value="Input"><input class="btn" type="submit" value="Submit">
	
	<h5>.btn-group</h5>
	<div class="btn-group">
	  <button class="btn">1</button>
	  <button class="btn">2</button>
	  <button class="btn">3</button>
	  <button class="btn">4</button>
	</div>

	<h5>.btn-group > .dropdown-toggle</h5>
	<div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">Button dropdowns <span class="caret"></span></button>
   	<ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li><a href="#">Separated link</a></li>
     </ul>
 	</div>

	<h5>.btn-group > .btn + .dropdown-toggle</h5>
	<div class="btn-group">
      	<button class="btn">Split button dropdowns</button>
     	<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
     	<ul class="dropdown-menu">
         <li><a href="#">Action</a></li>
         <li><a href="#">Another action</a></li>
         <li><a href="#">Something else here</a></li>
         <li class="divider"></li>
         <li><a href="#">Separated link</a></li>
       </ul>
   </div>

	<h5>.btn-group.dropup > .btn + .dropdown-toggle</h5>
	<div class="btn-group dropup">
     <button class="btn">Dropup</button>
     <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
     <ul class="dropdown-menu">
       <li><a href="#">Action</a></li>
       <li><a href="#">Another action</a></li>
       <li><a href="#">Something else here</a></li>
       <li class="divider"></li>
       <li><a href="#">Separated link</a></li>
     </ul>
   </div>

	<h5>.pagination > ul > li > a</h5>
	<div class="pagination">
      <ul>
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
    	</ul>
    </div>
</div>