<%
	content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.peity" %>
  <%= javascript_include_tag "page-specific/dashboard" %>
<% end %>


<section class="row">
	<div class="col-sm-4">
		<div class="well well-big-stats">
			<h4>Pending Sales Today</h4>
			<p class="h1">12</p>
			<a href="javascript:;">View All Pending Sales</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well well-big-stats">
			<h4>Completed Sales Today</h4>
			<p class="h1">23</p>
			<a href="javascript:;">View All Completed Sales</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well well-big-stats">
			<h4>Returned Items Today</h4>
			<p class="h1">2</p>
			<a href="javascript:;">View Returned Items</a>
		</div>
	</div>
</section>

<div class="row page-header">
	<div class="col-sm-2">
		<h2>Trials</h2>
	</div>
	<div class="col-sm-3">
		<input type="search" name="trial_search" placeholder="Filter&#8230;" class="form-control">
	</div>
	<div class="col-sm-7">
		<button class="btn btn-default pull-right" data-toggle="button"><i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></button>
		<div class="btn-group pull-right">
			  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Recently Viewed <span class="caret"></span></button>
			 	<ul class="dropdown-menu">
			 		<li><a href="#">Recently Updated</a></li>
			     <li><a href="#">Name </a></li>
			     <li><a href="#">Status </a></li>
			     <li><a href="#">Role </a></li>
			   </ul>
			</div>
	</div>	
</div>

<section id="dashboard-list" class="list-group">
	<div class="list-group-item new">
		<div class="row">
			<div class="col-xs-6 col-sm-5">
				<h3>Basic Trial 1</h3>
				<p class="text-muted">Cosby sweater wolf portland put a bird on it aesthetic master cleanse.  VHS readymade pork belly PBR gastropub cray.  Portland street art beard meh.</p>
				<p class="hidden-xs">YOUR ROLE: <strong>Auditor</strong></p>
				<p class="hidden-xs"><a href="http://google.com" class="btn btn-primary">Manage Trial</a></p>
			</div>
			<div class="col-sm-3 col-md-offset-1 hidden-xs">
				<span class="lead large"><strong>1</strong></span>
				<span class="text-muted"> &emsp;SIMULATION</span>
				<br>
				<span class="lead large"><strong>0</strong></span>
				<span class="text-muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead large"><strong>3</strong></span>
				<span class="text-muted"> &emsp;AUDITORS</span>		
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<p class="text-danger"><%= fa_icon "exclamation-circle" %> INCOMPLETE</p>
				<div class="alert alert-danger"><strong>There are currently no participants or  users.</strong>
				Add participants by sending users an invitation.</div>
			</div>
		</div>
	</div>
	
	<div class="list-group-item">
		<div class="row">
			<div class="col-xs-6 col-sm-5">
				<h3>Basic Trial 2</h3>
				<p class="text-muted">Selfies artisan beard letterpress truffaut, marfa organic.  Literally helvetica pop-up, pinterest butcher ethnic narwhal keffiyeh godard.</p>
				<p class="hidden-xs"><a href="http://bing.com" class="btn btn-default">View Trial</a></p>
			</div>
			<div class="col-xs-6 col-sm-7 col-md-6 col-md-offset-1">
				<p class="text-muted clearfix"><%= fa_icon "check-circle-o", class: "text-warning" %></i> UNORDERED SIMULATIONS: <small class="pull-right">(showing 3/3)</small></p>
				<p>
					<a href="javascript:;" class="btn btn-default btn-block clearfix disabled" disabled>AWC COL Beta 2 : <span class="pull-right">Finished <%= fa_icon "check-circle-o" %> </span></a>
				</p>
				<p>
					<a href="javascript:;" class="btn btn-info btn-block clearfix">The Home Front Final : <span class="pull-right">Resume <%= fa_icon "refresh" %></span></a>
				</p>
				<p>
					<a href="javascript:;" class="btn btn-primary btn-block clearfix">Basic Simulation : <span class="pull-right">Start <%= fa_icon "play-circle" %></span></a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="list-group-item">
		<div class="row">
			<div class="col-xs-6 col-sm-5">
				<h3>Basic Trial 3.5</h3>
				<p class="text-muted">Mumblecore pinterest small batch gastropub, echo park bicycle rights chambray.</p>
				<p class="hidden-xs">
					<a href="http://flickr.com" class="btn btn-primary">Manage Trial</a>
				</p>
			</div>
			<div class="col-sm-3 col-md-offset-1 hidden-xs">
				<span class="lead large"><strong>2</strong></span>
				<span class="text-muted"> &emsp;SIMULATIONS</span>
				<br>
				<span class="lead large"><strong>35</strong></span>
				<span class="text-muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead large"><strong>6</strong></span>
				<span class="text-muted"> &emsp;AUDITORS</span>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<p class="text-center"><%= fa_icon "clock-o", class: "text-warning" %> IN PROGRESS</p>
				<div class="peity"><span class="bar">10,25,65</span></div>
			</div>
		</div>
	</div>
	
	<div class="list-group-item">
		<div class="row">
			<div class="col-xs-6 col-sm-5">
				<h3> Basic Trial 4</h3>
				<p class="text-muted">Eitan neutra 90's, kogi flannel art party sartorial YOLO bespoke photo booth meh butcher marfa direct trade.</p>
				<p class="hidden-xs">
					<a href="http://msn.com" class="btn btn-primary">Manage Trial</a>
				</p>
			</div>
			<div class="col-sm-3 col-md-offset-1 hidden-xs">
				<span class="lead large"><strong>1</strong></span>
				<span class="text-muted"> &emsp;SIMULATION</span>
				<br>
				<span class="lead large"><strong>5</strong></span>
				<span class="text-muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead large"><strong>1</strong></span>
				<span class="text-muted"> &emsp;AUDITOR</span>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<p class="text-center"><%= fa_icon "check-circle-o", class: "text-success" %> FINISHED</p>
			</div>
		</div>
	</div>
	
	<div class="list-group-item expired">
		<div class="row">
			<div class="col-xs-6 col-sm-5">
				<h3> Basic Trial 5</h3>
				<p class="text-muted">Lomo art party flannel messenger bag gastropub vice.</p>
				<p class="hidden-xs">
					<a href="http://willinteractive.com" class="btn btn-default disabled">Manage Trial</a>
				</p>
			</div>
			<div class="col-sm-3 col-md-offset-1 hidden-xs">
				<span class="lead large"><strong>1</strong></span>
				<span class="text-muted"> &emsp;SIMULATION</span>
				<br>
				<span class="lead large"><strong>5</strong></span>
				<span class="text-muted"> &emsp;PARTICIPANTS</span>
				<br>
				<span class="lead large"><strong>1</strong></span>
				<span class="text-muted"> &emsp;AUDITOR</span>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<p class="text-center"><%= fa_icon "ban", class: "text-muted" %></i> EXPIRED
				<br>
					<em>on July 5, 2012</em>
				</p>
			</div>
		</div>
	</div>
	
	<div id="dashboard-list-footer" class="list-group-item">
		<p>
			Showing 5 of 7 &mdash; <a href="javascript:;">Show All Trials <span class="caret"></span></a>
		</p>
	</div>
	
</section>

<br><br>

<section class="row">
	
		<div class="col-sm-6">
			<div class="panel panel-default panel-graph">
				<div class="panel-heading panel-heading-buttons clearfix">
					<a href="javasript:;" id="lines" class="btn active pull-left" rel="tooltip" data-placement="top" data-original-title="Line Graph"><%= fa_icon "adjust" %></a>	
					<a href="javasript:;" id="bars" class="btn pull-left" rel="tooltip" data-placement="top" data-original-title="Bar Graph"><%= fa_icon "bar-chart-o" %></a>						
					<h5 class="panel-title pull-left">Line vs. Bar Graph</h5>
				</div>
				<div class="panel-body">
			    <div class="graph-container">
			        <div id="graph-lines"></div>
			        <div id="graph-bars"></div>
			    </div>					
				</div>
			</div>
		</div>
		
		<div class="col-sm-6">
			<div class="panel panel-default panel-graph">
				<div class="panel-heading">
					<h5 class="panel-title">Pie Chart</h5>
				</div>
				<div class="panel-body">
					<div class="graph-container">
			        <div id="graph-pie"></div>
					</div>
				</div>
			</div>
		</div>
</section>

<section class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Top Referrers</h5>
			</div>
			<table class="table">
				<tbody>
					<thead></thead>
					<tr>
						<td class="description"><a href="http://google.com">http://google.com</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://yahoo.com">http://yahoo.com</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://themeforest.net">http://themeforest.net</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://codecanyon.net">codecanyon.net</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="http://madebyamp.com">http://madebyamp.com</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Most Visited Pages</h5>
			</div>
			<table class="table">
				<tbody>
					<thead></thead>
					<tr>
						<td class="description"><a href="javascript:;">Carbon Admin</a></td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Mega Dropdown</a></td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">DropUI Buttons</a></td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">Azure Admin</a></td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description"><a href="javascript:;">NoticeUI</a></td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Browser</h5>
			</div>
			<table class="table">
				<tbody>
					<thead></thead>
					<tr>
						<td class="description">Firefox</td>
						<td class="value"><span>1123</span></td>
					</tr>
					<tr>
						<td class="description">Chrome</td>
						<td class="value"><span>927</span></td>
					</tr>
					<tr>
						<td class="description">Internet Explorer</td>
						<td class="value"><span>834</span></td>
					</tr>
					<tr>
						<td class="description">Safari</td>
						<td class="value"><span>625</span></td>
					</tr>
					<tr>
						<td class="description">Opera</td>
						<td class="value"><span>593</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>