<%
	content_for :javascript_includes do %>
  <%= javascript_include_tag "page-specific/dashboard2" %>
<% end %>

<div class="row page-header">
	<div class="col-sm-4">
		<div class="btn-group">
		  <h2 class="dropdown-toggle" data-toggle="dropdown">
		    Trials &amp; Previews <span class="caret"></span>
		  </h2>
		  <ul class="dropdown-menu" role="menu">
				<li><a href="#">Just Trials</a></li>
				<li><a href="#">Just Previews</a></li>
		  </ul>
		</div>
	</div>
	<div class="col-sm-3">
		<input type="search" name="trial_search" placeholder="Filter&#8230;" class="form-control">
	</div>
	<div class="col-sm-5">
		<button class="btn btn-default pull-right" data-toggle="button"><i class="fa fa-arrow-up"></i><i class="fa fa-arrow-down"></i></button>
		<div class="btn-group pull-right">
			  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Recently Viewed <span class="caret"></span></button>
			 	<ul class="dropdown-menu">
			 		<li><a href="#">Recently Updated</a></li>
			     <li><a href="#">Name </a></li>
			     <li><a href="#">Status </a></li>
			     <li><a href="#">Role </a></li>
			   </ul>
			</div>
	</div>	
</div> 

<div class="row">
  <div class="col-sm-4">
    <div id="dashboard-sidebar" class="list-group">
      <a href="javascript:;" class="list-group-item new">
      		<p class="text-right status">incomplete &emsp; <%= fa_icon "exclamation-circle 2x", class: "text-danger" %></p>
      		<h4><%= fa_icon "group" %> Basic Trial 001</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…</p>
      </a>
      <a href="javascript:;" class="list-group-item active">
      		<p class="text-right status">in progress &emsp; <%= fa_icon "clock-o 2x", class: "text-warning" %></p>
      		<h4><%= fa_icon "group" %> Basic Trial 002</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
    	</a>
    	<a href="javascript:;" class="list-group-item new">
      		<p class="text-right status">finished &emsp; <%= fa_icon "check-circle-o 2x", class: "text-success" %></p>
      		<h4><%= fa_icon "group" %> Basic Trial 003</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
    	</a>
    	<a href="javascript:;" class="list-group-item expired">
      		<p class="text-right status">expired &emsp; <%= fa_icon "ban 2x" %></span>
      		<h4><%= fa_icon "group" %> Basic Trial 004</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…</p>
    	</a>
    	<a href="javascript:;" class="list-group-item">
      		<p class="text-right status">in progress &emsp; <%= fa_icon "clock-o 2x", class: "text-warning" %></p>
      		<h4><%= fa_icon "user" %> Basic Trial 005</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="pie">2/3</span></span></p>
    	</a>
    	<a href="javascript:;" class="list-group-item">
      		<p class="text-right status">not started &emsp; <%= fa_icon "minus-circle 2x", class: "text-danger" %></p>
      		<p><span class="label label-danger">Hurry! Trial ends in 5 days!</span></p>
      		<h4><%= fa_icon "user" %> Basic Trial 006</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…</p>
    	</a>
    	<a href="javascript:;" class="list-group-item">
      		<p class="text-right status">in progress &emsp; <%= fa_icon "clock-o 2x", class: "text-warning" %></p>
      		<h4><%= fa_icon "group" %> Basic Trial 007</h4>
      		<p class="text-muted">Semiotics meh food truck art party post-ironic…<span class="peity pull-right"><span class="bar ">10,25,65</span></span></p>
    	</a>
    </div>
	  <p class="text-center">
	  	<a href="#" class="load-more">LOAD MORE <span class="caret"></span></a>
	  </p>
  </div>
  <div class="col-sm-8">
    <h2>Basic Trial 002</h2>
  </div>
</div>

