<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= defined?(title) ? title : "" %></title>

		<%= stylesheet_link_tag "will_style/email" %>
	</head>

	<body>
		<table border="0" cellpadding="0" cellspacing="0" class="body">
			<tr>
				<td>&nbsp;</td>

				<td class="container">
					<div class="content">
						<span class="preheader"><%= defined?(title) ? title : "" %></span>
						<table class="main">
							<tr>
								<td class="wrapper">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<% if defined?(logo_url) && !logo_url.blank? %>
													<img src="<%= logo_url %>" class="company-logo" height="40">
												<% else %>
													<%= image_tag "will_style/logos/master-logos/master-dark-gradient.png", title: "WILL", class: "logo", height: 20, width: 80 %>
												<% end %>

												<span>
				                                	&nbsp;

													<% if defined?(site_name) %>
														<%= site_name %>
													<% else %>
														<%= Rails.application.class.module_parent_name.underscore %>
				                                  	<% end %>
												</span>
											</td>
										</tr>

										<td>&nbsp;</td>

										<tr>
											<td>
												<%= yield %>
											</td>
										</tr>

										<% if defined?(logo_url) && !logo_url.blank? %>
											<tr>
												<td style="text-align: right">
													<%= image_tag "will_style/logos/master-logos/master-dark-gradient.png", title: "WILL", class: "logo", height: 20, width: 80 %>
												</td>
											</tr>
										<% end %>
									</table>
								</td>
							</tr>
						</table>

						<%= render partial: "will_style/components/email/footer", locals: {
							unsubscribe_link: defined?(unsubscribe_link) ? unsubscribe_link : nil
						} %>
					</div>
				</td>

				<td>&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
