<% app = "" unless defined?(app) %>


<nav class="top-bar show-for-small-only" data-topbar>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-dropdown">
        <a href="#"><%= image_tag "will-style/WILL_Logo_20.png", title: "WILL" %> &emsp;<%= app %></a>
        <ul class="dropdown">
          <li><a href="#">Launchpad</a></li>
          <li><a href="#">Tracker</a></li>
          <li><a href="#">Testbed</a></li>
          <li><a href="#">Access</a></li>
        </ul>
      </li>
    </ul>
    
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a title="User Name" href="#"><%= fa_icon "user" %></a>
        <ul class="dropdown">
          <li><a href="#">Admin</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<aside id="app-sidebar" class="medium-1 columns hide-for-small-only" >
		
	<div class="logo"><%= image_tag "will-style/WILL_Logo_20.png", class: "logo", title: "WILL", data: { interchange: "[#{asset_path("will-style/WILL_Logo_20.png")}, (default)], [#{asset_path("will-style/WILL_Logo_32.png")}, (medium)]" } %></div>
	
	<a id="app-user-button" class="button inverse expand show-for-medium-only" title="User Name" href="#" data-dropdown="user-drop" data-options="align:right">
		<%= fa_icon "user 2x" %> <%= fa_icon "angle-right", class: "text-primary" %>
	</a>
		
	<div id="app-user" class="show-for-large-up">
		<p><%= fa_icon "user 2x", class: "user-icon" %></p>
		<p><small>User Name</small></p>
		<p>
			<a href="#" title="Admin"><%= fa_icon "cubes" %></a>
			<a href="#" title="Settings"><%= fa_icon "cog" %></a>
			<a href="#" title="Logout"><%= fa_icon "sign-out" %></a>
		</p>
	</div>
	
	<nav id="app-nav" class="icon-bar vertical">
		
		
		<a href="#" class="item<%= app == "launchpad" ? " active" : "" %>">
			<%= fa_icon "home" %>
			<label class="show-for-large-up"><small>Launchpad</small></label>     
		</a>

		<a href="#" class="item<%= app == "tracker" ? " active" : "" %>" >
			<%= fa_icon "check-square-o" %>
			<label class="show-for-large-up"><small>Tracker</small></label>     
		</a>
		
		<a href="#" class="item<%= app == "testbed" ? " active" : "" %>" >
			<%= fa_icon "flask" %>
			<label class="show-for-large-up"><small>Testbed</small></label>     
		</a>

		<a href="#" class="item<%= app == "access" ? " active" : "" %>">
			<%= fa_icon "play-circle-o" %>
			<label class="show-for-large-up"><small>Access</small></label>      
		</a>
	</nav>
	
</aside>


<% # THE APPLICATIONS DROPDOWN %>
<%= f_dropdown "app-drop" do |d| %>
	<%= d.list do %>
		<%= d.item "Launchpad" %>
		<%= d.item "Tracker", class: "active" %>
		<%= d.item "Testbed" %>
		<%= d.item "Access" %>
	<% end %>
<% end %>
<% # THE USER DROPDOWN %>
<%= f_dropdown "user-drop" do |d| %>
	<%= d.list do %>
		<%= d.item "Admin" %>
		<%= d.item "Settings" %>
		<%= d.item "Logout" %>
	<% end %>
<% end %>