<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= defined?(title) ? title : "" %></title>

		<%= stylesheet_link_tag "will-style/email" %>
	</head>

	<body>
		<table border="0" cellpadding="0" cellspacing="0" class="body">
			<tr>
				<td>&nbsp;</td>

				<td class="container">
					<div class="content">
						<span class="preheader"><%= defined?(title) ? title : "" %></span>
						<table class="main">
							<tr>
								<td class="wrapper">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<%= image_tag "will-style/logos/master-logos/master-gray-gradient.png", title: "WILL", class: "logo" %>
				                                <span>
				                                	&nbsp;

													<% if defined?(site_name) %>
														<%= site_name %>
													<% else %>
														<%= Rails.application.class.parent_name.upcase %>
				                                  	<% end %>
												</span>
											</td>
										</tr>

										<td>&nbsp;</td>

										<tr>
											<td>
												<%= yield %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

						<%= render partial: "will-style/components/email/footer", locals: {
							unsubscribe_link: defined?(unsubscribe_link) ? unsubscribe_link : nil
						} %>
					</div>
				</td>

				<td>&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
