<% unless defined?(saas_link) %>
	<% saas_link = "https://willinteractive.com/saas" %>
<% end %>

<% unless defined?(privacy_link) %>
	<% privacy_link = "https://willinteractive.com/privacy" %>
<% end %>

<footer class="footer mt-auto py-3 bg-dark <%= defined?(root_classes) ? root_classes : "" %>">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<p class="text-center mb-0 text-light">
					<small>
						&copy;<%= Time.now.year %> <i class="will-icon-will_logo"></i>

						&nbsp;&nbsp;

						<%= link_to "Privacy Policy", privacy_link, target: :blank, class: "text-light animated" %>

						&nbsp;&nbsp;

						<%= link_to "SaaS Agreement", saas_link, target: :blank, class: "text-light animated" %>

						<% if defined?(support_link) %>

							&nbsp;&nbsp;

							<%= link_to "Support", support_link, target: :blank, class: "text-light animated" %>
						<% end %>
					</small>
				</p>
			</div>
		</div>
	</div>
</footer>
