<% unless defined?(invert_colors) %>
	<% invert_colors = false %>
<% end %>

<% unless defined?(shadowed) %>
	<% shadowed = false %>
<% end %>

<% bg_class = "" %>

<% unless defined?(include_bg) %>
	<% include_bg = true %>

	<% if invert_colors == true %>
		<% bg_class = "bg-dark" %>
	<% else %>
		<% bg_class = "bg-white" %>
	<% end %>
<% end %>

<% title_class = defined?(page_heading) && page_heading == true ? "display-1" : "" %>
<% title_class += invert_colors ? " text-white" : "" %>

<% fixed_prop = defined?(page_heading) && page_heading == true ? "data-animated-fixed" : "" %>

<% delay_prop = defined?(animated_delay) ? "data-animated-delay=#{animated_delay}" : "" %>
<% subtitle = "" unless defined?(subtitle) %>

<div class="will-heading">
	<div class="title-container" data-animated <%= fixed_prop %> <%= delay_prop %>>
		<div class="subtitle-container <%= bg_class %>">
			<h6 class="text-gradient-will subtitle mb-0"><%= raw subtitle %></h6>
			<% unless subtitle.blank? %>
				<div class="subtitle-line <%= invert_colors ? " bg-white" : "bg-dark" %> <%= shadowed ? "box-shadow" : "" %>"></div>
			<% end %>
		</div>

		<h3 class="d-inline-block w-auto title <%= title_class %> <%= shadowed ? "text-shadow" : "" %> <%= bg_class %>"><%= raw title %></h3>
	</div>

	<% if defined?(text) %>
		<p class="text <%= invert_colors ? "text-white" : "" %> <%= shadowed ? "text-shadow" : "" %> <%= bg_class %>" data-animated data-animated-target=".title-container" <%= delay_prop %>><%= raw text %></p>
	<% end %>
</div>
