<% name = controller_name + "-" + action_name %>

<section id="<%= name %>-top" class="hero container-fluid bg-dark">
	<% unless defined?(custom_content) && custom_content == true %>
		<%= yield %>
	<% end %>

	<div class="row full-height align-items-center image-bg<%= (defined?(include_pattern) && include_pattern == false) ? "" : " patterned-bg" %>"

		<% if defined?(background_image) %>
			style="background-image: url('<%= asset_url(background_image) %>')"
		<% end %>
		>

		<div class="col-sm-12">
			<% if defined?(custom_content) && custom_content == true %>
				<%= yield %>
			<% else %>
				<%= render partial: "will-style/components/heading", locals: {
					subtitle: defined?(subtitle) ? subtitle : "",
					title: defined?(title) ? title : "",
					invert_colors: true,
					page_heading: true
				} %>
			<% end %>
		</div>
	</div>
</section>
