<% name = controller_name + "-" + action_name %>

<% if defined?(background_image) && !background_image.nil? %>
	<% background_images = [ background_image ] %>
<% end %>

<% if defined?(background_image_position) && !background_image_position.nil? %>
	<% background_image_positions = [ background_image_position ] %>
<% end %>

<section id="<%= name %>-top" class="hero container-fluid <%= defined?(include_footer) && include_footer == true ? "wrap-exposed" : "bg-dark" %> <%= defined?(class_names) ? class_names : "" %>">
	<div class="row expanded <%= defined?(include_footer) && include_footer == true ? "bg-dark shadow-bottom main" : "full-height" %> align-items-center image-bg<%= (defined?(include_pattern) && include_pattern == false) ? "" : "" %>">

		<% if defined?(background_images) && !background_images.nil? %>
			<div data-image-bgs="[<%= background_images.map{|i| "'#{asset_url(i)}'" }.join(", ") %>]"

			<% if defined?(background_image_positions) && !background_image_positions.nil? %>
				data-image-bg-positions="[<%= background_image_positions.map{|i| "'#{i}'" }.join(", ") %>]"
			<% end %>

			data-image-bgs-randomize>
			</div>
		<% end %>

		<% if defined?(background_video) %>
			<div class="video-bg">
				<video playsinline autoplay muted loop preload="auto" src="<%= background_video %>"></video>
			</div>
		<% end %>

		<% if defined?(foreground_image) %>
			<div class="image-bg fg-image" style="background-image: url('<%= asset_url(foreground_image) %>')" data-animated data-animated-fixed data-animated-default data-animated-delay="800" data-animated-hidden-after data-animated-target="section" data-animated-begin data-animated-opacity></div>
		<% end %>

		<div class="col-12">
			<% if defined?(title) %>
				<%= render partial: "will-style/components/heading", locals: {
					subtitle: defined?(subtitle) ? subtitle : "",
					title: defined?(title) ? title : "",
					invert_colors: true,
					page_heading: true,
					include_bg: false
				} %>
			<% end %>

			<%= yield %>
		</div>

		<% unless defined?(hide_arrow) && hide_arrow == true %>
			<div class="arrow-wrap text-center" data-animated data-animated-fixed data-animated-delay="1200" data-animated-hidden-after data-animated-target="section" data-animated-begin data-animated-top data-hero-arrow>
				<svg x="0px" y="0px" viewBox="0 0 24 13.78" xml:space="preserve">
					<path d="M24,.47A.47.47,0,0,0,23.53,0a.46.46,0,0,0-.3.11,2.29,2.29,0,0,0-.34.35Q17.75,6.33,12.6,12.22c-.34.38-.48.37-.82,0C8.31,8.36,4.81,4.52,1.33.68A5.49,5.49,0,0,0,.8.13.49.49,0,0,0,.47,0,.47.47,0,0,0,0,.47.48.48,0,0,0,.14.81h0l.57.55s7.28,8,10.93,12c.46.51.68.5,1.13,0,2.78-3.17,5.55-6.35,8.34-9.51C22,2.92,23.6,1.1,23.85.82A.49.49,0,0,0,24,.47Z"/>
				</svg>
			</div>
		<% end %>
	</div>
</section>
