<% if defined?(custom_app_name) %>
	<% title = custom_app_name %>
<% elsif defined?(app_name) %>
	<% title = app_name %>
<% end %>

<header class="cd-header contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<%= link_to root_path do %>
					<%= render "will-style/components/will_logo_svg" %>

					<% if defined?(title) && title != "" %>
						&nbsp;
						<span class="app-name"><%= title %></span>
					<% end %>
				<% end %>
			</li>

			<li class="toggle-topbar">
				<a class="cd-primary-nav-trigger" href="">
					<span class="cd-menu-icon"></span>
				</a>
			</li>
		</ul>

		<div class="top-bar-section right">
			<%= render_navigation %>
		</div>
	</nav>
</header>

<nav class="cd-primary-nav">
	<%= render_navigation %>
</nav>
