<% if defined?(custom_app_name) %>
	<% title = custom_app_name %>
<% elsif defined?(app_name) %>
	<% title = app_name %>
<% end %>

<nav id="nav" class="navbar navbar-expand-lg navbar-fixed navbar-dark" data-animated data-animated-static>
	<%= link_to root_path, class: "navbar-brand" do %>
		<%= render partial: "will-style/components/will_logo_svg" %>
		&nbsp;
		<% if defined?(title) && title != "" %>
			<%= title %>
		<% end %>
	<% end %>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		 <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<% if defined?(links) %>
				<% if links.kind_of?(Array) %>
					<% links.each do |link| %>
						<%= render partial: link %>
					<% end %>
				<% else %>
					<%= render partial: links %>
				<% end %>
			<% end %>
		</ul>
	</div>
</nav>
