<% unless defined?(color) %>
	<% color = "light" %>
<% end %>

<div class="row align-items-center expanded <%= color == "dark" ? "will-bg-pattern-dark" : "will-bg-pattern-light" %> <%= defined?(root_classes) ? root_classes : "" %>">
	<div class="col-sm-12 col-md-6">
		<%= render partial: "will-style/components/heading", locals: {
			subtitle: 'AWARDS',
			title: defined?(title) ? title : 'Work with a Winning Team',
			invert_colors: color == "dark"
		} %>

		<% if defined?(heading) %>
			<h1 class="text-primary expanded-top" data-animated data-animated-default>
				<span"><%= heading %></span>
			</h1>
		<% end %>

		<p class="<%= color == "dark" ? "text-light" : "" %> lead" data-animated data-animated-default data-animated-delay="200"><%= raw text %></p>
	</div>

	<div class="col-sm-12 col-md-5 offset-md-1" data-animated data-animated-default data-animated-delay="400">
		<div class="row">
			<% cols = 3 %>
			<% if awards.length < 4 %>
				<% cols = 12 / awards.length %>
			<% end %>

			<% awards.each do |award| %>
				<div class="col-<%= cols %>">
					<%= image_tag(asset_url(award[:logo]), class: "img-fluid") %>
				</div>
			<% end %>
		</div>
	</div>
</div>