<% unless defined?(color) %>
	<% color = "dark" %>
<% end %>

<div id="demo-pop-out" data-pop-out>
	<div class="content">
		<a class="close-pop-out" aria-label="Close">&#215;</a>
	</div>
</div>

<div class="row <%= color == "dark" ? "will-bg-pattern-dark" : "will-bg-pattern-light" %> <%= defined?(root_classes) ? root_classes : "" %>">
	<div class="col-12">

		<div class="row expanded text-center">
			<div class="col-12">
				<h1 class="display-4 section-heading <%= color == "dark" ? "text-light" : "" %> text-center" data-animated data-animated-default>
					More Demos
				</h1>
			</div>
		</div>

		<% if defined?(markets) %>
			<% markets.each do |industry| %>
				<div class="row">
					<div class="col-12">
						<div class="row expanded-x">
							<div class="col-12">
								<h1 data-animated data-animated-default>
									<span class="text-gradient-will"><%= industry[:title] %></span>
								</h1>
							</div>
						</div>

						<div class="row">
							<div class="col-12" data-title-header>
								<%= render partial: "shared/carousel", locals: {
								   name: industry[:id],
								   elements: industry[:demos],
								   visible_count: 3,
								   visible_phone_count: 2
								} %>
							</div>
						</div>
					</div>
				</div>

				<% industry[:demos].each do |demo| %>
					<div data-carousel-target="<%= industry[:id] %>" data-carousel-active="<%= demo[:id] %>">
						<div class="row expanded-x expanded-bottom">
							<div class="col-12 col-md-6">
								<%= render partial: "will-style/components/heading", locals: {
									subtitle: "Project",
									title: demo[:title],
									invert_colors: color == "dark"
								} %>

								<h6 class="<%= color == "dark" ? "text-light" : "" %> upcase" data-animated data-animated-default data-animated-delay="400"><%= demo[:keywords].join(" | ") %></h6>
							</div>

							<div class="col-12 col-md-6">
								<p class="<%= color == "dark" ? "text-light" : "" %>" data-animated data-animated-default data-animated-delay="800">
									<%= raw demo[:text]%>
								</p>

								<h5 class="text-primary" data-animated data-animated-default data-animated-delay="1200">
									<a href="#" class="animated" data-pop-out-link data-pop-out-id="demo-pop-out" data-pop-out-url="<%= demo[:demo_url] %>">
										Play Demo
									</a>
								</h5>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<div id="demos" class="row">
				<div class="col-12">
					<div class="row">
						<div class="col-12" data-title-header>
							<%= render partial: "shared/carousel", locals: {
							   name: "demos",
							   elements: demos,
							   visible_count: 3,
							   visible_phone_count: 2
							} %>
						</div>
					</div>

					<% demos.each do |demo| %>
						<div data-carousel-target="demos" data-carousel-active="<%= demo[:id] %>">
							<div class="col-12">
								<div class="row expanded-x expanded-bottom">
									<div class="col-12 col-md-6">
										<%= render partial: "will-style/components/heading", locals: {
											subtitle: "Project",
											title: demo[:title],
											invert_colors: color == "dark"
										} %>

										<h6 class="<%= color == "dark" ? "text-light" : "" %> upcase" data-animated data-animated-default data-animated-delay="400"><%= demo[:keywords].join(" | ") %></h6>
									</div>

									<div class="col-12 col-md-6">
										<p class="<%= color == "dark" ? "text-light" : "" %>" data-animated data-animated-default data-animated-delay="800">
											<%= raw demo[:text]%>
										</p>

										<h5 class="text-primary" data-animated data-animated-default data-animated-delay="1200">
											<a href="#" class="animated" data-pop-out-link data-pop-out-id="demo-pop-out" data-pop-out-url="<%= demo[:demo_url] %>">
												Play Demo
											</a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>
