<% unless defined?(color) %>
	<% color = "dark" %>
<% end %>

<div id="preview-pop-out" data-pop-out>
	<div class="content">
		<a class="close-pop-out" aria-label="Close">&#215;</a>
	</div>
</div>

<div class="row align-items-center expanded <%= color == "dark" ? "will-bg-pattern-dark" : "will-bg-pattern-light" %> <%= defined?(root_classes) ? root_classes : "" %>">

	<div class="d-none d-md-block col-3" data-animated data-animated-default data-animated-begin data-animated-target="p">
		<%= image_tag(asset_url(poster), class: "img-fluid shadowed") %>
	</div>

	<div class="col-12 col-md-8 col-xxl-5 offset-md-1 offset-xxl-0">
		<%= render partial: "will-style/components/heading", locals: {
			subtitle: 'FEATURED DEMO',
			title: title,
			text: defined?(text) ? raw(text) : nil,
			invert_colors: color == "dark"
		} %>

		<div class="button-container mt-4 mb-4 <%= color == "dark" ? "light" : "dark" %> inline" data-animated data-animated-default>
			<div class="will-bg-pattern-<%= color == "dark" ? "light" : "dark" %>"></div>

			<button data-pop-out-link data-pop-out-id="preview-pop-out" data-pop-out-url="<%= url %>">
				Play Demo
			</button>
		</div>

		<% if defined?(show_all_demos) && show_all_demos == true %>
			<div class="button-container <%= color == "dark" ? "light" : "dark" %> inline" data-animated data-animated-default>
				<div class="will-bg-pattern-<%= color == "dark" ? "light" : "dark" %>"></div>

				<%= link_to demos_path do %>
					See More Demos
				<% end %>
			</div>
		<% end %>
	</div>

	<% if defined?(poster_landscape) %>
		<div class="d-block d-md-none col-12 expanded-y text-center">
			<%= image_tag(asset_url(poster_landscape), class: "img-fluid shadowed") %>
		</div>
	<% else %>
		<div class="d-block d-md-none col-6 offset-3 expanded-y text-center">
			<%= image_tag(asset_url(poster), class: "img-fluid shadowed") %>
		</div>
	<% end %>
</div>
