<div class="row position-relative">
		<% if defined?(image_bgs) %>
			<div class="col-12">
				<div class="patterned-fg"
					data-image-bgs="[<%= image_bgs.map{|i| "'#{asset_url(i)}'" }.join(", ") %>]"

					data-image-bgs-fixed

					data-animated
	 				data-animated-opacity

	 				data-animated-target=".row"
					data-animated-begin

					data-animated-hidden-before
		 			data-animated-hidden-after>
				</div>

		<% elsif defined?(image_bg) %>
			<div class="col-12 image-bg fixed patterned" style="background-image: url('<%= asset_url(image_bg) %>')">
		<% else %>
			<div class="col-12">
		<% end %>

		<% grid.each_with_index do |item, index| %>
			<div class="row <%= defined?(full_height) && full_height == false ? "" : "full-height" %>">
				<% if item[:image_bgs] %>
					<div class="patterned-fg"
						data-image-bgs="[<%= item[:image_bgs].map{|i| "'#{asset_url(i)}'" }.join(", ") %>]"
						data-image-bg-positions="[<%= (item[:image_bg_positions] || []).map{|i| "'#{i}'" }.join(", ") %>]"
						data-image-bgs-fixed

						data-animated
		 				data-animated-opacity

						<% if index == 0 %>
							data-animated-target=".full-height"
							data-animated-begin
						<% elsif index == grid.length - 1 %>
							data-animated-target=".full-height"
							data-animated-begin
						<% else %>
			 				data-animated-target=".title-container"
						<% end %>

						data-animated-hidden-before
			 			data-animated-hidden-after>
					</div>
				<% end %>

				<% if index == 0 && defined?(title) && !title.blank? %>
					<div class="col-12 expanded text-center">
						<h1 class="display-1 text-light text-center section-heading" data-animated data-animated-default><%= raw title %></h1>
					</div>
				<% end %>

				<% if item[:as_title] == true %>
					<div class="col-12 expanded text-center">
						<h1 class="display-4 text-light text-center" data-animated data-animated-default data-animated-delay="800"><%= raw item[:title] %></h1>
					</div>
				<% else %>
					<div class="col-12">
						<div class="row expanded <%= (defined?(full_height) && full_height == false) || (index == 0 && defined?(title) && !title.blank?) ? "" : " full-height" %> align-items-center">
							<div class="col-12 col-md-7 <%= index % 2 != 0 ? "offset-md-5" : "" %>">
								<%= render partial: "will-style/components/heading", locals: {
									subtitle: defined?(subtitle) ? subtitle : nil,
									title: raw(item[:title]),
									text: raw(item[:text]),
									invert_colors: true } %>

								<% if item[:link] %>
									<h5 data-animated data-animated-default data-animated-delay="800">
										<%= link_to item[:link], class: "animated" do %>
											Learn More
										<% end %>
									</h5>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
