<% unless defined?(color) %>
	<% color = "dark" %>
<% end %>

<div class="row expanded <%= color == "dark" ? "will-bg-pattern-dark" : "will-bg-pattern-light" %> <%= defined?(root_classes) ? root_classes : "" %>">
	<% unless defined?(include_title) && include_title == false %>
		<%= render partial: "will-style/components/heading", locals: {
			subtitle: 'STATS',
			title: 'Let the numbers do the talking',
			invert_colors: color == "dark"
		} %>
	<% end %>

	<div class="col-12 text-center">
		<div class="row <%= defined?(include_title) && include_title == false ? "" : "expanded-top" %>">
			<% cols = 6 %>

			<% if stats.length % 3 == 0 %>
				<% cols = 4 %>
			<% end %>

			<% stats.each_with_index do |item, index| %>
				<div class="col-12 col-md-<%= cols %>">
					<h1 class="text-primary jumbo stat">
						<% item[:stat].split(//).each_with_index do |num, index| %>
							<span class="jumbo text-gradient-will" data-animated <%= index % 2 == 0 ? "data-animated-number-bottom" : "data-animated-number-top" %> data-animated-target=".col-12">
								<%= num %>
							</span>
						<% end %>
					</h1>

					<p class="<%= color == "dark" ? "text-light" : "" %> lead" data-animated data-animated-default data-animated-delay="400" data-animated-target=".col-12"><%= raw item[:title]%></p>
				</div>
			<% end %>
		</div>
	</div>
</div>
