<div class="user-nav-large">
	<p class="user-image"><%= image_tag "will-style/DefaultGravatar_64.png" %></p>
	<p class="user-name">User Name</p>
	<ul class="user-nav">
		<li>
			<%= link_to "3", title: "Admin" do %>
				<%= fa_icon "cubes" %>
			<% end %>
		</li>
		<li>
			<%= link_to "#", title: "Settings" do %>
				<%= fa_icon "cog" %>
			<% end %>
		</li>
		<li>
			<%= link_to "#", title: "Logout" do %>
				<%= fa_icon "sign-out" %>
			<% end %>
		</li>
	</ul>
</div>