<% unless defined?(start) %>
	<% start = "dark" %>
<% end %>

<% unless defined?(reverse) %>
	<% reverse = false %>
<% end %>

<% stripe_value = 1 %>
<% if start == "dark" %>
	<% stripe_value = 0 %>
<% end %>

<% sections.each_with_index do |section, index| %>
	<div class="row align-items-center expanded-x <%= index % 2 == stripe_value ? " will-bg-pattern-dark" : "will-bg-pattern-light" %> <%= defined?(end_classes) && index == sections.length - 1 ? end_classes : "" %> <%= defined?(root_classes) && index == 0 ? root_classes : "" %>">

		<div class="col-12 col-md-5 text-center expanded-y <%= reverse && index % 2 == 1 ? "order-md-2 offset-md-1" : "" %>" data-animated data-animated-default data-animated-begin>
			<% if section[:image] %>
				<%= image_tag(asset_url(section[:image]), class: "img-fluid shadowed") %>
			<% end %>
		</div>

		<div class="col-12 col-md-6 expanded-y <%= reverse && index % 2 == 1 ? "order-md-1" : "offset-md-1" %>">
			<%= render partial: "will-style/components/heading", locals: {
				subtitle: defined?(subtitle) ? subtitle : nil,
				title: section[:title],
				text: raw(section[:text]),
				invert_colors: index % 2 == stripe_value }
			%>

			<% if section[:link] %>
				<h5 data-animated data-animated-default data-animated-delay="1200">
					<%= link_to section[:link], class: "animated" do %>
						Learn More
					<% end %>
				</h5>
			<% end %>
		</div>
	</div>
<% end %>
