<!--[if lt IE 10]>
	<div class="container-fluid expanded-y">
		<div class="row expanded-x">
			<div class="col-12">
				<h3 class="text-white">YOUR WEB BROWSER IS OUTDATED.</h3>
				<p  class="text-white">For the best experience, please upgrade to the latest version using the links below.</p>
			</div>
		</div>

		<div class="row expanded-x expanded-top">
			<div class="col-10 offset-1">
				<div class="row">
					<div style="width: 22%; margin-right: 3%; float: left;">
						<a href="http://google.com/chrome" target="_blank">
							<%= image_tag "will-style/icons/light/chrome-logo.png", class: "img-fluid", style: "opacity: 1 !important;" %>
							<br>
							<p class="text-white text-center">GOOGLE CHROME</p>
						</a>
					</div>

					<div style="width: 22%; margin-right: 3%; float: left;">
						<a href="http://www.apple.com/safari/" target="_blank">
							<%= image_tag "will-style/icons/light/safari-logo.png", class: "img-fluid", style: "opacity: 1 !important;" %>
							<br>
							<p class="text-white text-center">APPLE SAFARI</p>
						</a>
					</div>

					<div style="width: 22%; margin-right: 3%; float: left;">
						<a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
							<%= image_tag "will-style/icons/light/firefox-logo.png", class: "img-fluid", style: "opacity: 1 !important;" %>
							<br>
							<p class="text-white text-center">MOZILLA FIREFOX</p>
						</a>
					</div>

					<div style="width: 22%; float: left;">
						<a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx" target="_blank">
							<%= image_tag "will-style/icons/light/edge-logo.png", class: "img-fluid", style: "opacity: 1 !important;" %>
							<br>
							<p class="text-white text-center">INTERNET EXPLORER</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<![endif]-->

<!--[if gt IE 10]><!-->

<%= yield %>

<![endif]-->

<div id="outdated">
	<h6>Your browser is out-of-date!</h6>
	<p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
	<p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>
