<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'dashboard' %>"><%= link_to "Default", dashboard_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'dashboard2' %>">  <%= link_to "Tracker", dashboard2_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'dashboard3' %>"><%= link_to "Testbed", dashboard3_path %></li>