<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'general' %>"><%= link_to "General Elements", general_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'icons' %>">  <%= link_to "Icons", icons_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'buttons' %>"><%= link_to "Buttons & Colors", buttons_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'tables' %>"> <%= link_to "Tables", tables_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'forms' %>">	 <%= link_to "Forms", forms_path %></li>
<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'other' %>">	 <%= link_to "Other", other_path %></li>