<% app = "" unless defined?(app) %>

<div class="contain-to-grid">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1>
						<a href="#"><%= image_tag "will-style/WILL_Logo_20.png", title: "WILL" %> &ensp;<%= app %></a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#">
					<span>Menu</span>
				</a>
			</li>
		</ul>
		
		<section class="top-bar-section">
			<ul class="left">
		  	<li id="apps-dropdown" class="has-dropdown">
		  		<a href="#"><span class="text-success"><span class="show-for-small-only">More Apps</span>&nbsp;</span></a>
		  		<ul class="dropdown">
		  			<li><a href="#">App 1</a></li>
		  			<li><a href="#">App 2</a></li>
		  			<li><a href="#">App 3</a></li>
		  		</ul>
		  	</li>
			</ul>
		</section>
		
		<section class="top-bar-section">
			<ul class="left">
		  	<li class="active"><a href="#">Item 1</a></li>
		  	<li><a href="#">Item 2</a></li>
		  	<li><a href="#">Item 3</a></li>
			</ul>
		</section>
	  
	  <section class="top-bar-section">
	    <ul class="right">
		  	<li class="divider"></li>
	      <li class="has-dropdown user-dropdown">
	        <a title="User Name" href="#"><%= fa_icon "user" %> User Name</a>
	        <ul class="dropdown">
	          <li><a href="#">Settings</a></li>
	          <li><a href="#">Logout</a></li>
	        </ul>
	      </li>
	      <li class="divider"></li>
	    </ul>
	  </section>
	</nav>
</div>

<%= f_dropdown "will-apps-drop" do |d| %>
	<%= d.list do %>
		<%= d.item "Launchpad" %>
		<%= d.item "Tracker" %>
		<%= d.item "Testbed" %>
		<%= d.item "Access" %>
	<% end %>
<% end %>