<div id="sidebar">
	<a href="#" class="visible-phone btn">
		<i class="icon-reorder"></i><span>Menu</span><b class="caret"></b>
	</a>
	<ul>
		<li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'dashboard' %>">
			<a class="btn" href="<%= dashboard_path %>"><i class="icon-dashboard"></i><span>Dashboard</span></a>
		</li>
		<li class="dropdown <%= 'active' if params[:controller] == 'static_pages' && params[:action] != 'dashboard'%>">
			<a class="btn" href="#">
				<i class="icon-globe"></i><span>UI Elements</span><b class="caret"></b>
			</a>
			<ul>
				<%= render "navigation/general_links_list" %>
			</ul>
		</li>
		<!-- <li class="dropdown">
					<a class="btn" href="#">
						<i class="icon-warning-sign"></i><span>Error pages</span><b class="caret"></b>
					</a>
					<ul>
						<li><a href="#">403 error</a></li>
						<li><a href="#">404 error</a></li>
						<li><a href="#">405 error</a></li>
						<li><a href="#">500 error</a></li>
						<li><a href="#">503 error</a></li>
						<li><a href="#">Website is offline error</a></li>
					</ul>
				</li> -->
		<li class="<%= 'active' if params[:controller] == 'products'%>"><a class="btn" href="<%= products_path %>"><i class="icon-tags"></i><span>Products</span><span class="label"><%= @products.count %></span></a></li>

	</ul>

</div>


<script>
$(document).ready(function(){

	
	
	// === Sidebar navigation === //
	
	$('#sidebar .dropdown > a').click(function(e)
	{
		e.preventDefault();
		var dropdown = $(this).siblings('ul');
		var li = $(this).parents('li');
		var dropdowns = $('#sidebar li.dropdown ul');
		var dropdowns_parents = $('#sidebar li.dropdown');
		if(li.hasClass('open'))
		{
			if(($(window).width() > 768) || ($(window).width() < 479)) {
				dropdown.slideUp();
			} else {
				dropdown.fadeOut(250);
			}
			li.removeClass('open');
		} else 
		{
			if(($(window).width() > 768) || ($(window).width() < 479)) {
				dropdowns.slideUp();			
				dropdown.slideDown();
			} else {
				dropdowns.fadeOut(250);			
				dropdown.fadeIn(250);
			}
			dropdowns_parents.removeClass('open');		
			li.addClass('open');	
		}
	});
	
	var ul = $('#sidebar > ul');
	
	$('#sidebar > a').click(function(e)
	{
		e.preventDefault();
		var sidebar = $('#sidebar');
		if(sidebar.hasClass('open'))
		{
			$(this).removeClass('active')
			sidebar.removeClass('open');
			ul.slideUp(250);
		} else 
		{
			$(this).addClass('active')
			sidebar.addClass('open');
			ul.slideDown(250);
		}
	});
	
	$(window).resize(function()
	{
		if($(window).width() > 479)
		{
			ul.css({'display':'block'});	
		}
		if($(window).width() < 479)
		{
			ul.css({'display':'none'});
		}
	});
	if($(window).width() < 468)
	{
		ul.css({'display':'none'});
	}
	if($(window).width() > 479)
	{
		ul.css({'display':'block'});
	}
	
});

</script>