<!DOCTYPE html>
<html>
<head>
  <title>Template | <%= @title %></title>
	
	<%= render 'layouts/shim' %>
	<%= render 'layouts/googlefonts' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
</head>
<body class="admin">

	<header id="top-nav" class="container-fluid clear">
		<a class="brand" href="<%= root_path %>"><%= image_tag "Logo.png", :title => "WILL Interactive", :width => "80" %>Template</a>
		
		<div id="user-btn-group" class="btn-group">
			<a class="tooltips btn" href="#" rel="tooltip" data-placement="bottom" data-original-title="User Settings">
				<i class="icon-user"></i><span>Welcome, Admin Vivamus hendrerit arcu sed</span>
			</a>
			<a class="tooltips btn" href="#" rel="tooltip" data-placement="bottom" data-original-title="Messages">
				<i class="icon-inbox"></i><span>Messages</span> <span class="label label-danger">5</span>
			</a>
			<a class="tooltips btn" href="#" rel="tooltip" data-placement="bottom" data-original-title="Settings">
				<i class="icon-cogs"></i><span>Settings</span>
			</a>
			<a class="tooltips btn" href="#" rel="tooltip" data-placement="bottom" data-original-title="Logout">
				<i class="icon-signout"></i><span>Logout</span>
			</a>
		</div>
	</header>

	<%= render 'layouts/admin_sidebar' %>

	<div id="content" class="container-fluid">
	  	<%= yield %>
	</div>


</body>
</html>
