<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Template</title>
	
	<%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<!--[if IE 7]>
		<%= stylesheet_link_tag  "ie7" %>
	<![endif]-->
  <%= csrf_meta_tags %> 
</head>
<body>

	<div id="wrap">
		<%= render 'layouts/header' %>
		
		<main role="main">
			<div class="container">
			  <%= yield %>			
			</div>
		</main>
	</div>
	
	<%= render 'layouts/footer' %>

</body>
</html>

<%= javascript_include_tag "application" %>
<%= yield :javascript_includes %>