<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> | Template</title>
	
	<%= render 'layouts/shim' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<!--[if IE 7]>
		<%= stylesheet_link_tag  "ie7" %>
	<![endif]-->
  <%= csrf_meta_tags %> 
</head>
<body>

	<%= render 'layouts/header' %>
	
	<div class="container">
	  <%= yield %>

		<%= render 'layouts/footer' %>
	</div>

</body>
</html>

<%= javascript_include_tag "application" %>
<%= yield :javascript_includes %>